body {
	margin:0;
	padding:0;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	color:#333333;
	background:#f4f4f4;
}

* {
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
	color:#333333;
	transition:3s all;
	-webkit-transition:3s all;
	-ms-transition:3s all;
	-o-transition:3s all;
	-moz-transition:3s all;
}
ul {
	list-style-type:none;
}
img {
	max-width:100%;
}

.scsl-clearfix:after{
    content: '';
    display: table;
    clear: both;
}

header {
    background: #f2f2f2;
    padding-left: 20px;
    margin: 0 0 -5px -20px;
    position: relative;
}

header h1, header h2 {
    float: left;
    color:#333333;
}

header h1 {
    display: inline;
    color:#333333;
    border-right: 1px solid #333333;
    padding: 20px 20px 20px 0
}

header h2 {
    width: 55%;
    color:#333333;
    font-size: 16px;
    padding: 20px;
    font-weight: 300;
}

.help {
    background: white;
    color: #333333;

}

.half {
    width: 49%;
    float: left;
}


#cssteps{
    width: 100%;
    margin-bottom: 25px;
   
   
}
#cssteps thead{
    text-align: left;
}
#cssteps h2{
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.cssteps-list{
    list-style: initial !important;
    padding-left: 20px;
}
.scslbutton {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    padding: 4px 10px;    
    background: #0a4d8a;
    border: 1px solid #719b2e;
    text-shadow: 0px -1px 0px #66922b;
    margin-top: 5px;
    cursor:pointer;
}

.custom-expressions {
    width: 100%
}

.custom-expressions tr {
    width: 100%;
    background: white;
    border: 1px solid #dbd5d9;
}

.custom-expressions td {
    padding: 5px 10px;
    font-size: 16px;
}

.tabberlive .tabbertabhide {
 display:none;
}
.tabber {
}
.tabberlive {
 margin-top:1em;
width:80%;
}

ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
 font: bold 18px Verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em; 
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}
.tabbertab 
{
background-color:#fff;
margin-bottom:20px;
}
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;

}
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}

.scsl_login_table {
  background-color: #efefef;
  border: 1px solid #ccc;
  margin: 0 0 25px;
}

.scsl_login_table tr.heading_row th {
  font-size: 13px;
  font-weight: bold;
  background-color: #242424;
  color: #fff;
  text-shadow: 0 1px 0 #333;
  padding-left: 10px;
}

.main {
  /*width: 830px;*/
  margin: 0 auto;
}
header, section {
  float: left;
  width: 100%;
}
.logo {
  float: left;
  width: 100%;
  padding: 18px 0 16px 0;
}
.sect-left {
  float: left;
  width: 560px;
  margin: 0 20px 0 0;
}
.sect-right {
  float: left;
  width: 248px;
} 
nav li {
	float:left;
	width:50%;
	text-align:center;
	background:#E2E2E2;
	transition:3s all;
	-webkit-transition:3s all;
	-ms-transition:3s all;
	-o-transition:3s all;
	-moz-transition:3s all;
}
nav li a {
	line-height:47px;
	font-size:15px;
}
nav li:hover, nav li.active {
	background:#006699;
	transition:3s all;
	-webkit-transition:3s all;
	-ms-transition:3s all;
	-o-transition:3s all;
	-moz-transition:3s all;
	border-radius:5px 5px 0 0;
}
nav li:hover a, nav li.active a {
	color:#fff;
	transition:3s all;
	-webkit-transition:3s all;
	-ms-transition:3s all;
	-o-transition:3s all;
	-moz-transition:3s all;
	
}
.box1 {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
  border: 1px solid #8BD8FF;
  background: #fff;
    padding-bottom: 12px;
}
.box1 h2 {
	font-weight:normal;
	text-transform:uppercase;
	background:#5BC0F4;
	color:#fff;
	float:left;
	width:96%;
	padding:10px 0 10px 23px;
}
.main-bx1 {
  float: left;
    width: 92%;
  padding: 18px 22px 0 22px;

}
.main-bx1 p {
	margin:0 0 10px 0;
}
.main-bx1 .input-txt {
	color:#999999;
	border: 1px solid #8BD8FF;
	border-radius:2px;
	padding:8px 0 6px 16px;
	  width: 282px;
}
input[type=radio].css-checkbox {
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}
input[type=radio].css-checkbox + label.css-label {
	/*padding-left:25px;
	height:16px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	font-weight:400;
	cursor:pointer;*/
}
input[type=radio].css-checkbox:checked + label.css-label {
	/*background-position: 0 -16px;*/
}
label.css-label {
	/*background:url(check1.png) no-repeat;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
}
label.css-label.no {
	/*background:url(check.png) no-repeat;*/
}
input[type=radio].css-checkbox + label.css-label.nO {
	  /*background-position: 0 -16px !important;*/
}
.lbls {
  float: LEFT;
  width: 100%;
  margin: 0 0 8px 0;
}
.input-txt1 {
	width:100%;
	float:left;
	 margin: 3px 0 0 12px;
}
.input-txt1 .input-txt {
	width:95%;
}
.bold {
font-weight: bold;
font-style:normal;
}
.italic {
	font-style:italic;
}
.sky {
	color:#0099cc;
}
.red {
	color:#ff0000;
}
.btn {
  float: left;
  width: 100%;
  background: #fff;
  padding:22px 0;
  text-align: center;
}
.btn #button {
	background:#0099cc;
	border:none;
	border-bottom:3px solid #003366;
	border-radius:3px;
	width:170px;
	text-align:center;
	color:#fff;
	padding:8px 0;
	  font-size: 15px;
  font-weight: 600;
  transition:3s all;
	-webkit-transition:3s all;
	-ms-transition:3s all;
	-o-transition:3s all;
	-moz-transition:3s all;
}
.btn #button:hover {
	background:#003366;
	border-bottom:3px solid #0099cc;
	transition:3s all;
	-webkit-transition:3s all;
	-ms-transition:3s all;
	-o-transition:3s all;
	-moz-transition:3s all;
}
.boxmin {
	margin:0;
}
.orange {
  float: left;
  width: 100%;
}
.orange h2 {
background:#ffcc00;
color:#fff;
text-transform:uppercase;
font-weight:normal;
text-align:center;
padding:8px 0;
overflow:hidden;
}
.orange h2 span {
	  background: url(que.png) no-repeat 22px center;
  float: left;
  width: 100%;
    line-height: 28px;
}
.org-sub {
  float: left;
  color: #006699;
  margin: 20px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px;
}
.org-sub p {
	margin: 0 0 5px 0;
}
.org-sub a { color:#006699; }
.r-video {
	margin:35px 20px 18px 20px;
	color:#003366;
	float:left;
}
.r-video img {
	margin:15px 0 0 0;	
}
.reviews {
  float: left;
  margin: 15px 0 0;
}

/*responsive*/
@media only screen and (max-width:860px) and (min-width:768px) {
.main {
	width:752px;
}
.sect-left {
	  width: 63%;
}
.box1 h2 {
	  width: 95%;
  padding: 10px 0 10px 24px;
}
}
@media only screen and (max-width:767px) {
.main {
	  width: 95%;
  margin: 0px auto 20px;

}
.sect-left {
	width:100%;
	margin:0;
}
.sect-right {
	width: 100%;
  margin: 20px 0 0;
}
.box1 h2 {
	  padding: 10px 0 10px 24px;
}
.org-sub {
	width: 93%;
}
.orange h2 span {
	  background: url(que.png) no-repeat 33% center;
}
.r-video, .reviews {
	   float: left;
  margin: 0;
  padding: 15px;
  width: 44%;
}
}
@media only screen and (max-width:580px) { 
.box1 h2 {
  padding: 10px 0 10px 4%;
}
.main-bx1 {
	padding: 18px 4% 0 4%;
}
.r-video, .reviews {
	  padding: 3%;
}
.orange h2 span {
  background: url(que.png) no-repeat 25% center;
}
}
@media only screen and (max-width:480px) { 
nav li {
	  width: 100%;
  margin: 0 0 5px 0;
}
.box1 h2 {
	  font-size: 14px;
}
}
@media only screen and (max-width:370px) {
.orange h2 span {
  background: url(que.png) no-repeat 15px ;
  text-align: left;
  padding: 0 0 0 45px;
}
}


.blue_bg { background:#f2fbff;}
.api_step p, .main-bx1 p { font-weight:300; font-size:14px; color:#454545; }
.api_step p span { font-weight:600; color:#00345d; }
.butn { border-radius:3px; color:#fff; min-width:100px; text-align:center; -webkit-border-radius:3px; cursor:pointer; -moz-border-radius:3px; border:none; border-bottom:3px solid rgba(0,0,0,0.3); display:inline-block; margin-right:15px; padding:5px 15px; font-size:16px; font-weight:300; }
.green { background:#6aca60; }
.blue { background:#098fc6; }
.api_step label { width:100px; margin-right:20px; display:inline-block; font-size:14px; text-align:right; }
.left { width:25%; float:left; }
.right{ float:right; width:75%; }
.clear{ clear:both; }
.lbls i { padding-left:20px; margin-top:5px; display:block;}
.reviews{ border:1px solid #f47900; text-align:center; width:100%; }
.reviews h2 { color:#fff; background:#f47900; line-height:45px; margin:0; font-weight:300; text-transform:uppercase; font-size:18px; padding-left:20px; text-align:left; }
.reviews h2 img { display:inline-block; vertical-align:text-bottom; margin-right:5px; }
.reviews p { margin-top:15px; color:#454545; font-size:14px; font-weight:300; }
.review_con { background:#f9efee; padding-bottom:15px; }
.review_con a { border-radius:3px; color:#fff; text-align:center; -webkit-border-radius:3px; cursor:pointer; -moz-border-radius:3px; border:none; border-bottom:3px solid rgba(0,0,0,0.3); display:inline-block; padding:5px 15px; font-size:16px; font-weight:300; background:#f47900; min-width:100px; }

.radio-danger input[type="radio"] + label::after {
    background-color: #098fc6;
}
.radio-danger input[type="radio"]:checked + label::before {
    border-bottom-color: #098fc6;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #098fc6;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #098fc6;
    border-top-color: #098fc6;
}
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #098fc6;
}